.card-chain-logo {
    height: 24px !important;
    width: 24px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: inline-block;
    height: 100%;
    vertical-align: text-top;
}

.small {
    background-size: 16px;
    max-height: 16px;
}
