html {
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    background-color: #111;
    background-repeat:   no-repeat;
    height: 100%;
    margin: 0;
    color: #EEE;
    font-family: sans;
    background: radial-gradient(circle, #444 0%, #222 100%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    width:100%;
    display: flex;
    justify-content: center;
}

#bg {
    background-image: url('./sec.svg');
    background-size: 400px;
    background-position: bottom -18px right 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background-repeat: no-repeat;
}

a {
    color: #DDD;
}

a:visited {
    color: white;
}

#description {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 6px;
    padding-right: 6px;
}

.outer {
    max-width: 900px;
    display: flex-column;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start;
}

#container:after {
    display: block;
    content: "";
    margin: 10px;
    flex: 999 999 auto;
}

.item {
    max-width: 340px;
    flex: 0 0 auto;
    margin: 10px;
    position: relative;
    border: 1px solid #444;
    border-radius: 15px;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 20px;
    padding-bottom: 40px;
}

.item:hover {
    background-color: #555;
    border: 1px solid #999;
}

.item-name {
    font-weight: bold;
    font-size: 125%;
    display: inline-block;
}

.item-description {
    font-size: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

.item-tag {
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 60%;
    text-transform: uppercase;
    color: #222;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.link-icon {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    margin-left: 10px;
}

#edit-link {
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: #000 0px 1px 3px;
    padding: 6px;
}

.item-chains {
}

.item-chain-logo {
    height: 20px !important;
    width: 20px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #bg {
        background-size: 200px;
        background-position: bottom 0px right 0px;
    }

    #description {
        font-size: 18px;
        text-align: center;
    }
}
