.cards-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-content: stretch;
}

.nothing-found {
    text-align: center;
    font-size: 200%;
}
