#filter {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 100%;
}

.search-chains {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.search-tags > .tags,
.search-chains > .chains {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
}

#clear-filter {
    color: #FCC;
    font-weight: bold;
    cursor: pointer;
}

#filter-input {
    border-color: #555;
}

.tag.chain-show-more {
    color: #f6f6f6;
    background-color: var(--color-button-background);
    outline: 1px solid gray;
    padding: 5px 6px;
    width: fit-content;
}
