html {
    height: 100%;
}

a:hover {
    color: white;
}

body {
    background-color: #111;
    background-repeat:   no-repeat;
    height: 100%;
    margin: 0;
    color: #EEE;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle, #444 0%, #222 100%);
    background-attachment: fixed;
    width:100%;
    display: flex;
    justify-content: center;
}

#bg {
    background-image: url('./assets/sec.svg');
    background-size: 400px;
    background-position: bottom -18px right 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background-repeat: no-repeat;
}

a {
    color: #DDD;
}

a:visited {
    color: white;
}

#description {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 6px;
    padding-right: 6px;
}

.isBlackedOut {
    opacity: 0.5;
}

.outer {
    width: 100%;
    max-width: 900px;
    display: flex-column;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: stretch;
    max-width: inherit;
}

#container:after {
    display: block;
    content: "";
    margin: 10px;
    flex: 999 999 auto;
}

#filter {
    margin-bottom: 16px;
}

.center {
    text-align: center;
}

#edit-link {
    background-color: rgba(0,0,0,0.6);
    text-decoration: none;
    font-weight: bold;
    text-shadow: #000 0px 1px 3px;
    padding: 16px 16px 10px 16px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #bg {
        background-size: 200px;
        background-position: bottom 0px right 0px;
    }

    #description {
        font-size: 20px;
        text-align: center;
    }

    #github {
        display: none;
    }
}

#github {
    position: fixed;
    top: 0;
    right: 0;
}
